html {
    font-size: 100%;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: .8em;
    overflow: hidden;
    background-color: #003e69;
}

h1 {
    font-size: 3em;
    font-weight: 100;
    color: #fff;
    text-shadow: #000000 0 0 0.4;

    display: inline-block;
    padding-left: 10px;
    padding-right: 5px;
    margin: 0;
}
strong{
    font-weight: 300;
}
header {
    position: relative;
    width: 100%;
    height: 150px;
    background: #0064a6;
    border-bottom: 1px solid black;
    text-align: center;
    line-height: 150px;
}


.section{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.5s ease 0.0s;
    transition: all 0.5s ease 0.0s;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.section span{
    top: -3%;
}
header:hover .list ul li {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
header:hover .section {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
header:hover + .loader-double {
    -webkit-animation: spin 3s ease-in-out 2;
    animation: spin 3s ease-in-out 2;
}
header:hover + .loader-double:after{
    -webkit-animation: spinreverse 5s ease;
    animation: spinreverse 5s ease;
}

header img {
    width: auto;
    height: 60px;
    padding-right: 20px;
    -webkit-transition: all 0.5s ease 0.0s;
    transition: all 0.5s ease 0.0s;
}

h1 {
    font-size: 3em;
    margin: 0 0 0 3%;
    font-weight: 300;
    display: inline-block;
    -webkit-transition: all 0.5s ease 0.0s;
    transition: all 0.5s ease 0.0s;
}
.hoverme {
    font-size: 3em;
    font-weight: 100;
    color: #fff;
    text-shadow: #000000 0 0 0.4;

    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

header strong {
    font-weight: 400;
}

header ul {
    position: relative;
    top: -70%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 1.5em;
    margin: 0;

    -webkit-transition: all 0.5s ease 0.0s;
    transition: all 0.5s ease 0.0s;
    width: 600px;
    text-align: center;
}

header .list {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);

    transition: 0.5s ease 0.0s;
}

header li {
    display: inline-block;
}
header .child2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
header .child3 {
    border-right: 1px solid black;
}
header li a {
    text-decoration: none;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
    -webkit-transition: all 0.7s ease 0.0s;
    transition: all 0.7s ease 0.0s;
}
header li a:hover {
    background: #004971;
}

.loader{
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-bottom: 20px;
}

/*---------------------------------------*\
    $Loader Double cercle
\*---------------------------------------*/

.loader-double {
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #FFF;
    border-bottom-color: #FFF;
    -webkit-animation: spin 3s ease-in-out infinite;
    animation: spin 3s ease-in-out infinite;
}
.loader-double:after{
    content:'';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50px;
    border: 6px solid white;
    border-top-color: #FFF;
    border-bottom-color: #FFF;

    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-animation: spinreverse 5s ease;
    animation: spinreverse 5s ease;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.loader-double-blue {
    border-radius: 50px;
    border: 6px solid transparent;
    border-top-color: #fff;
    border-bottom-color: #fff;
    -webkit-animation: spin 2s ease-in-out infinite;
    animation: spin 3s ease-in-out infinite;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
.loader-double-blue:after{
    content:'';
    position: absolute;
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50px;
    border: 6px solid #fff;
    border-top-color: #fff;
    border-bottom-color: #fff;

    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-animation: spinreverse 5s ease;
    animation: spinreverse 5s ease;
}

/*

strong{
    -moz-animation-name:bounce_blurringTextG;
    -moz-animation-duration:3s;
    -moz-animation-iteration-count:3;
    -moz-animation-direction:normal;
    -webkit-animation-name:bounce_blurringTextG;
    -webkit-animation-duration:3s;
    -webkit-animation-iteration-count:3;
    -webkit-animation-direction:normal;
    -ms-animation-name:bounce_blurringTextG;
    -ms-animation-duration:3s;
    -ms-animation-iteration-count:3;
    -ms-animation-direction:normal;
    -o-animation-name:bounce_blurringTextG;
    -o-animation-duration:3s;
    -o-animation-iteration-count:3;
    -o-animation-direction:normal;
    -webkit-animation-name:bounce_blurringTextG;
    animation-name:bounce_blurringTextG;
    -webkit-animation-duration:1s;
    animation-duration:3s;
    -webkit-animation-iteration-count:3;
    animation-iteration-count:3;
    -webkit-animation-direction:normal;
    animation-direction:normal;
    -webkit-animation-timing-function: ease;
    animation-timing-function: ease;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}
*/

@-webkit-keyframes bounce_blurringTextG{
    0%{
        text-shadow: #000000 0 0 0;
    }

    50%{
        text-shadow: #FFFFFF 0 0 10px;
    }

    100%{
        text-shadow: #000000 0 0 0;
    }

}

@keyframes bounce_blurringTextG{
    0%{
        text-shadow: #000000 0 0 0;
    }

    50%{
        text-shadow: #FFFFFF 0 0 10px;
    }

    100%{
        text-shadow: #000000 0 0 0;
    }

}

/*---------------------------------------*\
    ****** NAVIGATION MENU ******
\*---------------------------------------*/
nav {
    position: absolute;
    top: 50%;
    left: 50%;

    filter: alpha(opacity=0);

    -webkit-transform: translate3d(-100%,0,0);

    transform: translate3d(-100%,0,0); /* activation de l'AM */
    -webkit-transition: -webkit-transform .4s;
    transition: transform .4s;

    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    margin-top: 20px;

    text-align: center;

    width: 80%;
    height: 100% - 135px - 100px;
    background: transparent;
    line-height: 135%;

    overflow: auto;

    /* width: 44%;
    height: 44%;
    background: #eaf3ff;
    border-radius: 10px;
    line-height: 45%;
    vertical-align: middle;
    overflow: auto;
    text-align: center;*/

    /* BOX SHADOW */
    /*
    -moz-box-shadow: 5px 5px 15px 0px #000;
    -webkit-box-shadow: 5px 5px 15px 0px #000;
    -o-box-shadow: 5px 5px 15px 0px #000;
    box-shadow: 5px 5px 15px 0px #000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000, Direction=134, Strength=15);
    */

    /* -o-box-shadow: 0px 0px 5px 0px #000;
    box-shadow: 0px 0px 5px 0px #000;*/

    /* BOX SHADOW */
}

nav.open {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.icone a {
    cursor: default;
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    font-weight: 300;
}
nav h2 {
    font-weight: 300;
    font-size: 2em;
}
.menu-content {
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
}

.icone {
    position: relative;
    width: 100px;
    height: 100px;

    background-color: #0064cd;
    -o-box-shadow: 0px 0px 3px 0px #000;
    box-shadow: 0px 0px 3px 0px #000;

    -webkit-transition: 0.3s ease 0.0s;

    transition: 0.3s ease 0.0s;

    line-height: 100px;
    text-align: center;
}
.icone-loader {
    opacity: 0;
    filter: alpha(opacity=0);
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
    position: relative;
    -webkit-transition: 0.5s ease 0.0s;
    transition: 0.5s ease 0.0s;
}

nav h2 {
    text-align: center;
    position: relative;
    top: -50px;
    margin: 0;
    -webkit-transition: 0.3s ease 0.0s;
    transition: 0.3s ease 0.0s;
    color: #c1cad6;
}

nav h2:hover {
    color: #eaf6ff;
}
nav p {
    margin: 0;
    padding: 0;

    font-size: 1.1em;

    font-weight: 300;

    color: #fff;

    line-height: 135%;
    text-align: center;
    display: block;
    text-indent: 2em;
}

nav .text {
    position: relative;
    top: 50%;
    text-align: center;
}

/*---------------------------------------*\
    $nav.text animation
\*---------------------------------------*/

.fadein {
    -webkit-animation: opacity_anim 1.5s linear;
    animation: opacity_anim 1.5s linear;
}

@-webkit-keyframes opacity_anim {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    70%{
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to{
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@keyframes opacity_anim {
    from {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to{
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

/*---------------------------------------*\
    $nav.loader Animation
\*---------------------------------------*/

#loader {
    -webkit-animation: animate 1.5s linear 1;
    animation: animate 1.5s linear 1;
    clip: rect(0, 80px, 80px, 40px);
    height: 80px;
    width: 80px;
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);

    -webkit-transform: scale(1.5);

    -ms-transform: scale(1.5);

    transform: scale(1.5);
}
@-webkit-keyframes animate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg)
    }
}
@keyframes animate {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(220deg);
        transform: rotate(220deg)
    }
}
#loader:after {
    -webkit-animation: animate2 1.5s ease-in-out 1;
    animation: animate2 1.5s ease-in-out 1;
    clip: rect(0, 80px, 80px, 40px);
    content:'';
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: absolute;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);

}
@-webkit-keyframes animate2 {
    0% {
        box-shadow: inset #fff 0 0 0 17px;
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #fff 0 0 0 2px;
    }
    100% {
        box-shadow: inset #fff 0 0 0 17px;
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}
@keyframes animate2 {
    0% {
        box-shadow: inset #fff 0 0 0 17px;
        -webkit-transform: rotate(-140deg);
        transform: rotate(-140deg);
    }
    50% {
        box-shadow: inset #fff 0 0 0 2px;
    }
    100% {
        box-shadow: inset #fff 0 0 0 17px;
        -webkit-transform: rotate(140deg);
        transform: rotate(140deg);
    }
}

/*---------------------------------------*\
    $nav.loader Animation
\*---------------------------------------*/

nav:hover .menu ol {
    opacity: 100;
    filter: alpha(opacity=10000);
}
nav:hover::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

nav .menu img {
    width: auto;
    height: 100px;
}

nav .menu ol {
    margin: 0;
    opacity: 100;
    filter: alpha(opacity=10000);
    list-style: none;
    display: inline-table;
    -webkit-transition: 0.3s ease 0.0s;
    transition: 0.3s ease 0.0s;
}

nav .menu ol li {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    -webkit-transition: 0.5s ease 0.0s;

    transition: 0.5s ease 0.0s;

}


nav .menu .icone:hover {
    background-color: #003e69;
}

/* ****** FOOTER ****** */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: #004871;
    text-align: center;
    line-height: 100px;
    overflow: hidden;
    border-top: 1px solid black;
}

footer p {
    margin: 0;
    color: #242424;
}

footer p span {
    color: #eaf3ff;
}

.icone-cv{
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-animation: translate 1s linear ;
    animation: translate 1s linear ;
}